<%= @game.current_turn %>'s turn
Player One: <%= @game.player1.name %>
<br>
Player One HP: <%= @game.player1.hp %>
<br>
Player Two: <%= @game.player2.name %>
<br>
Player Two HP: <%= @game.player2.hp %>
<br>
<form action="/attack">
  <input type='submit' value="Attack!" />
</form>
